
   body {
   background-color: #233566;
       background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: white;
  text-align: -webkit-center;
}
p{
    color: white;
    font-size: 20px;
    font-family:sans-serif;
    text-align: center;
}
